<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add lockItem="true" key="Key0" value="0"/>
		<add key="Key1" value="1"/>
		<add key="Key2" value="2"/>
	</appSettings>
	<connectionStrings>
		<add name="LCL" connectionString="Data Source=.\sqlexpress; Initial Catalog=LCL;Integrated Security=True" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<startup/></configuration>
